*{

    padding: 0px;
    margin: 0px;
}

.formRegis{

    background-color: rgb(58, 124, 78, 0.63);
    width: 400px;
    padding: 50px;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
}
.formRegis h3{

font-size: 28px;
color:rgb(36, 92, 59)
}
.entrada{

    width: 300px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgb(39, 59, 39);
    background-color: rgb(58, 50, 41);
    margin-bottom: 10px;
}
